.active-header{
    font-weight: bold;
}
.area1{
    background-image: url("https://images.unsplash.com/photo-1530549387789-4c1017266635?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-bg{
    background-image: url("https://play-lh.googleusercontent.com/1OLum9SPOSfNU7-CRU5nLlILtAg44osKP6I0npR6v3cnjmQvshndaD39csH9gaYoMXw");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container-blur{
    background-color: rgba(0,0,0, 0.4);
}
.brand-nav-img{
    height: 40pt;
}
.header{
    font-family: 'Cinzel Decorative', cursive;
    letter-spacing: 2pt
}
.header.dark{
    color: black;
}
.header.light{
    color: white;
}
.size1{
    font-size: 70pt
}
.size2{
    font-size: 25pt;
    font-family: 'Quicksand'
}
.size3{

}
.header.light.bg{
    background: black;
    padding: 10px;
}
.header.dark.bg{
    background: white;
    border-radius: 15px;
    padding: 10px;
}
footer{
    background: #864879;
}
.copy-right{
    background: #611f53;
    color: white;
}
.copy-right-dark{
    background: black;
    color: white;
}
.footer-text{
    color: white;
}
.nav-black{
    background: black;
}
.banner{
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.info-img{
    width: 200px;
    height: 200px;
    object-position: top;
    object-fit: cover;
    border-radius: 8px;
}
#myVideo {

    /* width: 100%; */
    /* height: 100%; */

    /* position: fixed; */
    /* object-position: center; */
    /* object-fit: cover; */
    /* z-index: -1; */
    /* top: 0; */
    /* right: 0; */
    /* left: 0; */
    /* bottom: 0; */
    /* left:0; */
    /* object-fit: cover; */
    /* min-width: 100%; */
    /* min-height: 100%; */
}
* {
    box-sizing: border-box;
  }

.footer-welcome {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    background:#6cf;
}
.footer-dark{
    background-color: rgb(34, 34, 34);
}

.button {
    border-radius: 4px;
    background-color: #BE8C63;
    border: none;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

.avatar {
    vertical-align: middle;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.video-warp {
    height: 100%;
    width: 100%;
    position: relative;

    /* height: 300px; */
  /* width: 300px; */
  /* overflow: hidden; */
  /* position: relative; */
}
.video-warp video {
    /* width: 100%; */
    /* height: 100%; */
    /* right: 0; */
    /* top: 5; */
    /* position: absolute; */
    /* object-fit: cover;
    object-position: center; */
    z-index: -1;
    max-width: 100%;
    /* min-height: 100%; */
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }